<%- layout("layouts/boilerplate") -%>
<br><br>
<body>
<header>
   <h1>About Us</h1>
</header>
<main>
   <section class="mission">
       <h2>Our Mission</h2>
       <p>We strive to provide high-quality products/services and exceptional customer experience.</p>
   </section>
   <section class="values">
       <h2>Our Values</h2>
       <ul>
           <li>Integrity</li>
           <li>Excellence</li>
           <li>Innovation</li>
           <li>Customer Satisfaction</li>
       </ul>
   </section>
   <section class="team">
       <h2>Our Team</h2>
       <div class="team-member">
           <img src="/images/Screenshot 2024-02-29 at 11.20.58 PM copy.png" alt="Kusboo_img">
           <h3>Khusboo</h3>
           <p>CEO</p>
       </div>
       <div class="team-member">
           <img src="/images/Screenshot 2024-03-01 at 12.05.32 AM copy.png" alt="Gaytri_img">
           <h3>Gaytri</h3>
           <p>CTO</p>
       </div>
       <div class="team-member">
        <img src="<div class="team-member">
            <img src="/images/2354ff02-c972-4e8e-a5ea-3b6736268189.jpg" alt="Gaytri_img">
            <h3>Dhruv</h3>
            <p>CTO</p>
    </div>
    <div class="team-member">
        <img src="<div class="team-member">
            <img src="/images/WhatsApp Image 2024-04-10 at 11.08.21 AM.jpeg" alt="Gaytri_img">
            <h3>Sahil</h3>
            <p>CTO</p>
    </div>
   </section>
</main>

</body>