<%- layout("layouts/boilerplate") -%>
<body>
    <br><br>
    <h1>Our Services</h1>
    <br><br>
    
    <section>
        <h2><i class="fas fa-store"></i> Business Listings</h2>
        <p>Our website offers a comprehensive local business directory service, allowing businesses across India to list their services and products. This feature enables businesses to showcase their offerings to a wide audience, enhancing their visibility and attracting potential customers.</p>
    </section>
    <br><br>
    
    <section>
        <h2><i class="fas fa-search"></i> Search and Discovery</h2>
        <p>Users can easily search and discover local businesses in India through our website's intuitive search functionality. Whether it's finding a nearby restaurant, locating a trusted service provider, or exploring unique shops, users can quickly access relevant information about businesses in their vicinity.</p>
    </section>
    <br><br>
    
    <section>
        <h2><i class="fas fa-star"></i> Reviews and Ratings</h2>
        <p>Our platform facilitates transparency and trust by providing user-generated reviews and ratings for listed businesses. Customers can share their experiences and feedback, helping others make informed decisions when choosing local services or products. Additionally, businesses can leverage positive reviews to build credibility and attract more customers to their establishments.</p>
    </section>
</body>